*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px; 
    background-color: rgb(90, 57, 57);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.navlogo{
    height: 50px;
    width: 100px;
   
}
.logo{
    background-image:url("vecteezy_amazon-logo-png-amazon-icon-transparent-png_19766240.png") ;
    background-size: cover;
    height: 50px;
    width: 100%;
    
}
.add-icon{
    display: flex;
    align-items: center;
    gap: 5px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-first{
    color:rebeccapurple;
    font-size: 10px;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
/**Box Three**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    width: 600px;
    height: 40px;
    border-radius: 7px;
}
.search-select{
    background-color: cornflowerblues;
    width: 50px;
    text-align: center;
    border-top-left-radius: 7px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:grey;
    font-size: 1rem;
    border-top-right-radius:7px;
    border-bottom-right-radius:7px
}
.nav-search:hover{
    border: 2px solid orange;
}
/**Box Four**/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/**Box Five**/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/**Panel**/
.panel{
    height: 40px;
    background-color: rgb(73, 34, 34);
    display: flex;
    color: rgb(226, 233, 238);
    align-items: center;
    justify-content: space-evenly;
}
.panel-op p{
    display: inline;
    margin-left: 10px;
}
.panel-op{
    width: 80%;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("amazon-e-commerce-company-csw7ypxppsqd7yyr.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: aliceblue;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.90rem;
    width: 80%;
    margin-bottom: 25px;
}
.shop-section{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    background-color: rgb(33, 32, 32);
}
.box{
    height: 300px;
    width: 23%;
    border: 2px solid rgb(0, 0, 0);
    background-color: aliceblue;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box-img{
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}

.box_content{
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}
.box_content{
    color: aqua;
}
.footer{
    margin-top: 15px;
    margin-bottom: 15px;
}
.foot-panel{
    background-color: rgb(18, 52, 53);
    color: aliceblue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.foot-panel2{
    background-color: rgb(39, 67, 70);
    color: aliceblue;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.8rem;
    margin-top: 10px;
    color: antiquewhite;
}